In [1]:
import pandas as pd
Location = "all_040_in_29.P1.csv"
df = pd.read_csv(Location)

In [2]:
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,29,40,29,NaN,NaN,NaN,NaN,NaN,Missouri,5988927,2712729,5595211,2442017,5988927,5595211